.members {
    a {
        text-decoration: none;
    }

    h2 {
        padding: 0.25rem 1rem 0.25rem 5rem;
          position: relative;
          font-size: clamp(2rem, 2vw, 3rem);
          text-transform: uppercase;
          text-shadow: 1px 1px rgb(234, 234, 234);
          text-align: left;
          color: rgb(150, 31, 31);
          background-color: #ededed;
          z-index: 100;

          span {
            font-family: base02;
          }

          &:hover {
            animation: memberGlitch 0.5s ease infinite forwards;
        }
    }
}