.member_list {
    a {
        text-decoration: none;
    }

    h2 {
          margin-top: 1rem;
          padding: 0.5rem 1rem 0.25rem 0.5rem;
          position: relative;
          font-size: clamp(1rem, 1.6vw, 2.5rem);
          text-transform: uppercase;
          text-shadow: 1px 1px rgb(234, 234, 234);
          text-align: left;
          color: rgb(150, 31, 31);
          background-color: #ededed;
          z-index: 100;

          @media screen and (min-width: 768px) {
            padding: 0.25rem 1rem 0.25rem 5rem;
          }

          &:hover {
            transition: all 0.4s ease-in-out;
            color: white;
            background-color: black;
            animation: memberGlitch 0.5s ease infinite forwards;
        }
    }
}

@keyframes memberGlitch {
  0% {
          text-shadow: 1px 2px #545353, -2px -1px rgb(0, 0, 0);
  }
  25% {
          text-shadow: -2px -3px #dbdbdb, 1px 1px rgb(184, 81, 81);
  }
  50% {
          text-shadow: 2px -3px #6c6c6b, -1px 2px rgb(4, 4, 4);
  }
  75% {
          text-shadow: -4px -2px #d82312, -2px -3px rgb(220, 223, 223);
  }
  100% {
          text-shadow: 3px 1px #dd2323, 2px 1px rgb(225, 227, 227);
  }
}
