
.content_wrapper.members {
    padding-top: 20vh;
    position: absolute;
    top: 0;
    left: 5%;
    width: 80%;
    height: 90vh;
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr;
    overflow: hidden;
    pointer-events: fill;

    @media screen and (min-width: 768px) {
      left: 15%;
      width: 50%;
    }


    .members {
        margin-left: 0rem;
        padding: 2rem 1rem 2rem;
        height: 100%;
        position: relative;
        cursor: pointer;

        @media screen and (min-width: 768px) {
          margin-left: 1rem;
          padding: 6rem 1rem 2rem;
        }

        h1 {
            font-size: clamp(2.5rem, 4vw, 5rem);
            margin-bottom: 1rem;
            text-align: center;           
            color: black;

            @media screen and (min-width: 768px) {
              margin-bottom: 2rem;
            }
        }
      
        /* h2 {
          padding: 0.25rem 1rem 0.25rem 5rem;
          position: relative;
          font-size: clamp(2rem, 2vw, 3rem);
          text-transform: uppercase;
          text-shadow: 1px 1px rgb(234, 234, 234);
          text-align: left;
          color: rgb(150, 31, 31);
          background-color: #ededed;
          z-index: 100;

          .passed {
            font-size: 0.8rem;
            color: black;
            @media screen and (min-width: 768px) {
              left: 15%;
              width: 50%;
            }
          }

          &:hover {
            animation: memberGlitch 0.5s ease infinite forwards;
        }
      
        } */
      
       /*  &:first-child {
          margin-top: 1rem;
        }
      
        .member {
          text-align: left;
          padding: 3rem 4rem;
          background-color: transparent;   
          
        } */

        .passed {
          font-size: 0.8rem;
          color: black;
          padding: 3rem 3rem 0 5rem;
          @media screen and (min-width: 768px) {
            left: 15%;
            width: 50%;
          }
        }
      }
  }
