.hamburger {
    position: fixed;
    top: 5vh;
    right: 15vw;
    z-index: 1001;
    cursor: pointer;
    visibility:  visible;

    @media screen and (min-width: 980px) {
        visibility:  hidden;
    }

    h2 {
        padding: 0.5rem 1rem;
        background-color: rgb(232, 16, 16);
        color: black;
    }
}