.hamburger {
    position: absolute;
    top: 10vh;
    right: 2vw;
    z-index: 1001;
    cursor: pointer;
    visibility:  visible;
    transition: all 0.4s ease;

    @media screen and (min-width: 980px) {
        visibility:  hidden;
    }

    h2 {
        transition: all 0.4s ease;
        padding: 0.5rem 1rem;
        background-color: rgb(232, 16, 16);
        color: black;
    }
}