.App {
  padding: 0;
  margin: 0;
  min-height: 100vh;
  width: 100%;
  
}

.bg_white {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100vh;
  z-index: 0;
  background-color: #ededed;

  @media screen and (min-width: 768px) {
    top: 0%;
    left: 10%;
    width: 80%;
    height: 90vh;
  }

}

.bg_main {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100vh;
  z-index: 10;
  pointer-events: none;

  @media screen and (min-width: 768px) {
    top: 0%;
    left: 10%;
    width: 80%;
    height: 90vh;
  }
}

.date_wrapper {
  position: absolute;
  bottom: 0rem;
  left: 10vw;
  z-index: 1001;
}
/* 
.content_wrapper {
  padding-top: 20vh;
  position: absolute;
  top: 0;
  left: 15%;
  z-index: 1;
  width: 50%;
  height: 90vh;
  display: grid;
  gap: 10px;
  grid-template-columns: 2fr 1fr;
  overflow: hidden;
  pointer-events: fill;
}

.left_side {
  position: relative;

}

.right_side {
  position: relative;

}

.welcome {
  margin-left: 1rem;
  padding: 4rem 1rem 2rem;
  height: 100%;
  position: absolute;
  overflow-y: scroll;
  cursor: pointer;

  h2 {
    padding: 0.25rem 1rem;
    position: fixed;
    left: 22%;
    top: 25vh;
    font-size: clamp(2rem, 2vw, 3rem);
    background-color: #ededed;
    text-transform: uppercase;
    text-shadow: 1px 1px rgb(234, 234, 234);
    z-index: 100;

  }

  h4 {
    margin-bottom: 2rem;
  }

  &:first-child {
    margin-top: 1rem;
  }

  .text {
    text-align: left;
    padding: 2rem 4rem;
    background-color: transparent;   
    
  }
}

.members {
  margin-left: 1rem;
  padding: 4rem 1rem 2rem;
  height: 100%;
  position: absolute;
  overflow-y: scroll;
  cursor: pointer;

  h2 {
    padding: 0.25rem 1rem;
    position: fixed;
    left: 25%;
    top: 25vh;
    font-size: clamp(2rem, 2vw, 3rem);
    text-transform: uppercase;
    text-shadow: 1px 1px rgb(234, 234, 234);
    background-color: #ededed;
    z-index: 100;

  }

  &:first-child {
    margin-top: 1rem;
  }

  .member {
    text-align: left;
    padding: 3rem 4rem;
    background-color: transparent;   
    
  }
}

.news {    
  padding: 6rem 1rem 2rem;
  height: 100%;
  position: absolute;
  overflow-y: scroll;
  cursor: pointer;

  &:first-child {
    margin-top: 3rem;
  }

  h2 {
    padding: 0.25rem 1rem;
    position: fixed;
    left: 52.5%;
    top: 30vh;
    color: rgb(150, 31, 31);
    font-size: clamp(2rem, 2vw, 3rem);
    text-transform: uppercase;
    text-shadow: 1px 1px rgb(237, 237, 237);
    background-color: #ededed;
    z-index: 100;

  }

  .news_item {
    text-align: left;
    padding: 1rem 2rem;
    border-bottom: 2px solid #b33030;
  }
}

@media(max-width: 400px){
  .content_wrapper {
    grid-template-columns: 1fr;
  }
}

 */