#root {
  margin: 0 auto;
  text-align: center;
  width: inherit;
}

.moonphase {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%);
    display: block;
    -webkit-user-select: none;
    width: 200px;
    background-color: transparent;
    transition: background-color 300ms;
}


.moonphase > img {
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center;
}


.container {
  position: absolute;
  top: 220px;
  left: 0;
  width: 100%;
  display: flex;
}

.moonpath {
  position: relative;
  top: 0;
  left: 0;
}

.moon {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: absolute;
  background: rgb(230, 230, 230);
  top: 0;
  left: 0;
  offset-path: path(
    "M-8.00007 158.5C-8.00007 158.5 438.312 2.68291 720 1.5C1017.31 0.25147 1437.5 158.5 1437.5 158.5"
  );
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
