#root {
  margin: 0 auto;
  text-align: center;
  width: inherit;
}

.App {
  height: 100%;
  width: 100%;
}

.bg_main {
  position: absolute;
  top: 0;
  left: 10%;
  z-index: 99;
  width: 80%;
  height: 100vh;
  pointer-events: none;

}

.content_wrapper {
  padding-top: 20vh;
  position: absolute;
  top: 0;
  left: 15%;
  width: 50%;
  height: 100vh;
  display: grid;
  gap: 10px;
  grid-template-columns: 2fr 1fr;
  overflow: hidden;
}

.left_side {
  position: relative;

}

.right_side {
  position: relative;

}

.welcome {
  margin-left: 1rem;
  padding: 4rem 1rem 2rem;
  height: 100%;
  position: absolute;
  overflow-y: scroll;
  cursor: pointer;

  h2 {
    position: fixed;
    left: 25%;
    top: 25vh;
    font-size: clamp(2rem, 2vw, 3rem);
    text-transform: uppercase;
    text-shadow: 1px 1px rgb(234, 234, 234);
    z-index: 100;

  }

  &:first-child {
    margin-top: 1rem;
  }

  .text {
    text-align: left;
    padding: 3rem 4rem;
    background-color: transparent;   
    
  }
}

.members {
  margin-left: 1rem;
  padding: 4rem 1rem 2rem;
  height: 100%;
  position: absolute;
  overflow-y: scroll;
  cursor: pointer;

  h2 {
    position: fixed;
    left: 25%;
    top: 25vh;
    font-size: clamp(2rem, 2vw, 3rem);
    text-transform: uppercase;
    text-shadow: 1px 1px rgb(234, 234, 234);
    z-index: 100;

  }

  &:first-child {
    margin-top: 1rem;
  }

  .member {
    text-align: left;
    padding: 3rem 4rem;
    background-color: transparent;   
    
  }
}

.news {    
  padding: 4rem 1rem 2rem;
  height: 100%;
  position: absolute;
  overflow-y: scroll;
  cursor: pointer;

  &:first-child {
    margin-top: 3rem;
  }

  h2 {
    position: fixed;
    left: 52.5%;
    top: 25vh;
    color: rgb(150, 31, 31);
    font-size: clamp(2rem, 2vw, 3rem);
    text-transform: uppercase;
    text-shadow: 1px 1px rgb(237, 237, 237);
    z-index: 100;

  }

  .news_item {
    text-align: left;
    padding: 1rem 2rem;
    border-bottom: 2px solid #b33030;
  }
}

@media(max-width: 400px){
  .content_wrapper {
    grid-template-columns: 1fr;
  }
}

