*, *::before, *::after, html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

@font-face {
  font-family: base02;
  src: url('./assets/fonts/base02.ttf');
}


body {
  margin: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  place-items: center;
  overflow: hidden;  
  color: rgba(241, 241, 241, 0.87);
  background-image: url('./assets/images/bg_empty.jpg');

  &:before {
    animation: grain 12s steps(40) infinite;
    background-image: url('./assets/images/bg_empty.jpg');
    content: "";
    height: 200%;
    left: -20%;
    opacity: 0.3;
    position: fixed;
    top: -50%;
    width: 200%;

    @media (min-width: 768px) {
      position: absolute;
      width: 100%;
      top: 20%;
      left: 0;
      
     }
  }  
}


@keyframes grain {
  0%,
  100% {
    transform: translate(0, 0);
  }
  10% {
    transform: translate(-5%, -10%);
  }
  20% {
    transform: translate(-15%, 5%);
  }
  30% {
    transform: translate(7%, -25%);
  }
  40% {
    transform: translate(-5%, 25%);
  }
  50% {
    transform: translate(-15%, 10%);
  }
  60% {
    transform: translate(15%, 0%);
  }
  70% {
    transform: translate(0%, 15%);
  }
  80% {
    transform: translate(3%, 35%);
  }
  90% {
    transform: translate(-10%, 10%);
  }
}


h1 {
  font-size: 3.2em;
  line-height: 1.1;
  font-family: base02;
  color: white;
}

h2 {
  color: black;
  font-family: base02;
}

h4 {
  font-size: 1.4rem;
  color: rgb(89, 89, 89);
  font-family: base02;
}

/* a {
    text-decoration: none;
    font-size: 2.5rem !important;
    color: white;
    line-height: 2rem;
} */

.brodtext {
  font-family: Courier, "Courier New", mono;
  font-size: 12px;
  font-style: normal;
  line-height: normal;
  font-weight: normal;
  font-variant: normal;
  color: #000000;
}

li > a {
  font-family: base02;
}


button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #1d1d1d;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  
  button {
    background-color: #f9f9f9;
  }
}
