*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: base02;
  src: url('./assets/fonts/base02.ttf');
}

$font-base: base02;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

html {
  width: 100%;
  color: rgba(241, 241, 241, 0.87);
  background-color: rgb(244, 242, 242);
}
body {
  margin: 0;
  width: 100%;
  display: flex;
  place-items: center;
  overflow-x: hidden;  
  color: rgba(241, 241, 241, 0.87);
  background-color: rgb(242, 240, 240);  
  background-blend-mode: luminosity;
z-index: 10000;
  background-image: url('./assets/images/bg_empty.jpg');
  background-size: 100%;
  background-repeat: no-repeat;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  font-family: $font-base;
}

h2 {
  color: black;
  font-family: $font-base;
}

h4 {
  font-size: 1.4rem;
  color: black;
}

/* a {
    text-decoration: none;
    font-size: 2.5rem !important;
    color: white;
    line-height: 2rem;
} */

.brodtext {
  font-family: Courier, "Courier New", mono;
  font-size: 12px;
  font-style: normal;
  line-height: normal;
  font-weight: normal;
  font-variant: normal;
  color: #000000;
}

li > a {
  font-family: $font-base;
}


button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #1d1d1d;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  
  button {
    background-color: #f9f9f9;
  }
}
